

.content-wrap {

}

.white-text1 {
	color: white;
	padding: 0px 0px 5px 16px;
}

.white-text0 {
	color: white;
}

.contact-info {
	list-style-type: none;
	padding-left: 0px;
}

/*
*  Saul circle class rules for images on homepage
*/
.image-saul {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 150px;
	height: 150px;
}


/*
* Footer format
*
*/
footer {
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
	background-repeat: repeat-x;
	border-radius: 4px;
	background-color: #222;
	border-color: #080808;
	color: white;
	padding: 10px 0px;
}

main {
	/**padding-bottom: 20px;  **/
	background-color: antiquewhite;
}

/**  main text format    **/
.italic-type {
	font-family: cursive;
}

.h1-Tiliadal {
	font-size: 400%;
}

.h2-Tiliadal {
	font-size: 300%;
}

.motto-format {
	font-size: 250%;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}